<%include ../partials/header%>
<%include ../partials/message%>

<div class="container">
  <h1>Upload a New Photo</h1>
  <div class="row">
    <div class="col-md-6">
      <form action="/photos" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="photo-title">Title</label>
          <input class="form-control" type="text" name="photo[name]" placeholder="name" id="photo-tile">
        </div>
        <div class="form-group">
          <label for="photo-desc">Description</label>
          <input class="form-control" type="text" name="photo[description]" placeholder="description" id="photo-desc">
        </div>
        <div class="form-group">
          <label for="image">Image File</label>
          <input type="file" id="image" name="image" accept="image/*" required>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>                
      </form>
      <a href="/photos">Go Back</a>
    </div>
  </div>
</div>



<%include ../partials/footer%>