<!DOCTYPE html>
<html>
<head>
    <title>Coonstagram</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
</head>
<body>

<%include ./partials/message%>

<div id="landing-header">
    <h1>Welcome to Coonstagram</h1>
    <a href="/photos" class="btn btn-lg btn-primary">View All Photos</a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<%include ./partials/footer%>