<%include ./partials/header%>
<%include ./partials/message%>

<h1>Login Page</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<a href="">Forgot password?</a>

<%include ./partials/footer%>